@model wildlife_tracker.Models.Animal
<html>
<head>
    <title>Wildlife Tracker - Details</title>
</head>
<body>
    <h2>Details</h2>
    <hr />
    @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
    <p>@Html.ActionLink("Back to list", "Index")</p>
</body>
</html>